.v-btn--is-elevated {
    box-shadow: none;
}

.v-input__control {
    padding: 10px;
}

.center {
    text-align: center;
}

.v-btn {
    padding: 10px;
}

.link {
    color: blue;
}

.v-text-field{
    max-width: 400px;
}

.padding {
    padding: 10px;
}